@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    max-width:100%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/* *::-webkit-scrollbar {
    width: 15px;
    background-color: #ffffff;
    color: #0d6aa1;
    border-radius: .5rem;
    border: 2px solid #bdbdbd;
    
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    color:crimson;
} */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px gray; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.app{
    margin:0;
    box-sizing: border-box;
    max-width:100%;
}
.nav{
    color: rgb(29, 29, 29);
    background-color:white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

}
.nav ul li {
    display: inline-block;
    margin: 1rem;
    
}
.nav ul li span{
    color:crimson;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}
.product{
    display: flex;
    margin:1.4rem;
    padding: .6rem;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width:28%;
    height: 30%;
    border: black .1rem solid;
    margin:.5rem;
    display: flex;
    flex-direction: column;
}
.image{
    width:55%;
    padding: 1rem;
}
.title{
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: .2rem;
    
}
.title span{
    color: royalblue;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin:1rem;
}
.discounttext{
    background-color: rgb(179, 226, 179);
    border-radius: .5rem;
    text-align: center;
    padding: .3rem;    
}

.cartEmpty{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    padding:.5rem;
    margin: .4rem;
    
}
.cartEmpty p:first-child {
    padding: 1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}
